@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
    }
}

.btn-disabled, .btn-disabled:hover, .btn[disabled], .btn[disabled]:hover,
.input-group :where(span) {
    @apply bg-gray-200 text-gray-500 border-gray-100
}

.input-bordered,
.input-group :last-child {
    @apply border-gray-100 
}

.input-group :first-child {
    @apply z-10
}

.input-error {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er) / var(--tw-border-opacity));
}

.input-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
}

.input-disabled, .input[disabled] {
    @apply bg-gray-100 border-gray-100 
}

.input-bordered,
.select {
    @apply bg-white font-normal
}