@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
    }
}

.btn-disabled, .btn-disabled:hover, .btn[disabled], .btn[disabled]:hover,
.input-group :where(span) {
    @apply bg-gray-200 text-gray-500 border-gray-200
}

.input-bordered,
.select {
    @apply bg-white font-normal
}

.input-bordered,
.input-group :last-child {
    @apply border-gray-200 
}

.input-error {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er) / var(--tw-border-opacity));
}

.input-primary {
    --tw-border-opacity: 1;
    border-color: hsl(var(--p) / var(--tw-border-opacity));
}

.input-disabled, .input[disabled] {
    @apply bg-gray-50 border-gray-200 
}

.input-group :first-child {
    @apply z-10
}

.collapse-arrow .collapse-title:after {
    top:  1.8rem;
    right: 2rem;
}

.steps .step:before,
.steps .step:after {
    @apply bg-gray-200 font-medium text-gray-500
}

.steps .step-primary + .step-primary:before, .steps .step-primary:after {
    @apply bg-primary text-primary-content
}

.divider:before,
.divider:after {
    height: 1px;
}

.divider-white:before,
.divider-white:after {  
    @apply bg-white bg-opacity-40
}

/* React Toastify */
.Toastify__toast-container {
    @apply grid grid-cols-1 gap-2 p-2
}

.Toastify__toast {
    font-family: Poppins, system-ui, sans-serif;
}

.Toastify__toast {
    @apply p-4 rounded-lg text-gray-800 font-medium text-sm leading-normal
}


.Toastify__toast-body {
    @apply m-0 p-0 pr-4
}

.Toastify__toast-icon {
    @apply w-6 mr-4
}

.Toastify__close-button {
    @apply self-center -mb-0.5
}

/* AR */
#ARButton {
    position: fixed !important;
}